In [9]:
import pandas as pd

# Master data set

In [10]:
master_2009 = pd.read_json('data/master_2009.json')
master_2010 = pd.read_json('data/master_2010.json')
master_2011 = pd.read_json('data/master_2011.json')
master_2012 = pd.read_json('data/master_2012.json')
master_2013 = pd.read_json('data/master_2013.json')
master_2014 = pd.read_json('data/master_2014.json')
master_2015 = pd.read_json('data/master_2015.json')
master_2016 = pd.read_json('data/master_2016.json')
master_2017 = pd.read_json('data/master_2017.json')

In [11]:
master_list = [master_2009, 
               master_2010, 
               master_2011, 
               master_2012, 
               master_2013, 
               master_2014, 
               master_2015, 
               master_2016, 
               master_2017]

master = pd.concat(master_list)

In [12]:
master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32797 entries, 0 to 2604
Data columns (total 35 columns):
contributors                 0 non-null float64
coordinates                  2299 non-null object
created_at                   32797 non-null datetime64[ns]
display_text_range           1554 non-null object
entities                     32797 non-null object
extended_entities            1948 non-null object
favorite_count               32797 non-null int64
favorited                    32797 non-null bool
full_text                    1554 non-null object
geo                          2299 non-null object
id                           32797 non-null int64
id_str                       32797 non-null int64
in_reply_to_screen_name      2443 non-null object
in_reply_to_status_id        2002 non-null float64
in_reply_to_status_id_str    2002 non-null float64
in_reply_to_user_id          2443 non-null float64
in_reply_to_user_id_str      2443 non-null float64
is_quote_status              32797 non-null bool
lang                         32797 non-null object
place                        2878 non-null object
possibly_sensitive           7595 non-null float64
quoted_status                282 non-null object
quoted_status_id             308 non-null float64
quoted_status_id_str         308 non-null float64
retweet_count                32797 non-null int64
retweeted                    32797 non-null bool
retweeted_status             498 non-null object
scopes                       63 non-null object
source                       32797 non-null object
text                         31243 non-null object
truncated                    32797 non-null bool
user                         32797 non-null object
withheld_copyright           1 non-null float64
withheld_in_countries        1 non-null object
withheld_scope               1 non-null object
dtypes: bool(4), datetime64[ns](1), float64(9), int64(4), object(17)
memory usage: 8.1+ MB

In [13]:
len(master_2009) + len(master_2010) + len(master_2011) + len(master_2012) + \
len(master_2013) + len(master_2014) + len(master_2015) + len(master_2016) + len(master_2017)

32797

In [14]:
len(master)

32797

In [15]:
master.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,retweeted,retweeted_status,scopes,source,text,truncated,user,withheld_copyright,withheld_in_countries,withheld_scope
0,NaN,NaN,2009-12-23 17:38:18,NaN,"{'symbols': [], 'user_mentions': [], 'hashtags...",NaN,12,False,NaN,NaN,...,False,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",From Donald Trump: Wishing everyone a wonderfu...,False,"{'follow_request_sent': False, 'has_extended_p...",NaN,NaN,NaN
1,NaN,NaN,2009-12-03 19:39:09,NaN,"{'symbols': [], 'user_mentions': [], 'hashtags...",NaN,6,False,NaN,NaN,...,False,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Trump International Tower in Chicago ranked 6t...,False,"{'follow_request_sent': False, 'has_extended_p...",NaN,NaN,NaN
2,NaN,NaN,2009-11-26 19:55:38,NaN,"{'symbols': [], 'user_mentions': [], 'hashtags...",NaN,11,False,NaN,NaN,...,False,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Wishing you and yours a very Happy and Bountif...,False,"{'follow_request_sent': False, 'has_extended_p...",NaN,NaN,NaN
3,NaN,NaN,2009-11-16 21:06:10,NaN,"{'symbols': [], 'user_mentions': [], 'hashtags...",NaN,3,False,NaN,NaN,...,False,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Donald Trump Partners with TV1 on New Reality ...,False,"{'follow_request_sent': False, 'has_extended_p...",NaN,NaN,NaN
4,NaN,NaN,2009-11-02 14:57:56,NaN,"{'symbols': [], 'user_mentions': [], 'hashtags...",NaN,6,False,NaN,NaN,...,False,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","--Work has begun, ahead of schedule, to build ...",False,"{'follow_request_sent': False, 'has_extended_p...",NaN,NaN,NaN

# Condensed data set

In [16]:
condensed_2009 = pd.read_json('data/condensed_2009.json')
condensed_2010 = pd.read_json('data/condensed_2010.json')
condensed_2011 = pd.read_json('data/condensed_2011.json')
condensed_2012 = pd.read_json('data/condensed_2012.json')
condensed_2013 = pd.read_json('data/condensed_2013.json')
condensed_2014 = pd.read_json('data/condensed_2014.json')
condensed_2015 = pd.read_json('data/condensed_2015.json')
condensed_2016 = pd.read_json('data/condensed_2016.json')
condensed_2017 = pd.read_json('data/condensed_2017.json')

condensed_list = [condensed_2009, 
                  condensed_2010, 
                  condensed_2011, 
                  condensed_2012, 
                  condensed_2013, 
                  condensed_2014, 
                  condensed_2015, 
                  condensed_2016, 
                  condensed_2017]

condensed = pd.concat(condensed_list)

In [17]:
len(condensed)

32797

In [18]:
condensed.head()

,created_at,favorite_count,id_str,in_reply_to_user_id_str,is_retweet,retweet_count,source,text
0,2009-12-23 17:38:18,12,6971079756,NaN,False,28,Twitter Web Client,From Donald Trump: Wishing everyone a wonderfu...
1,2009-12-03 19:39:09,6,6312794445,NaN,False,33,Twitter Web Client,Trump International Tower in Chicago ranked 6t...
2,2009-11-26 19:55:38,11,6090839867,NaN,False,13,Twitter Web Client,Wishing you and yours a very Happy and Bountif...
3,2009-11-16 21:06:10,3,5775731054,NaN,False,5,Twitter Web Client,Donald Trump Partners with TV1 on New Reality ...
4,2009-11-02 14:57:56,6,5364614040,NaN,False,7,Twitter Web Client,"--Work has begun, ahead of schedule, to build ..."

# Twitterscraper dataset

In [25]:
twitterscraper = pd.read_json('data/scraped_tweets.json')

In [26]:
len(twitterscraper)

33411

In [27]:
condensed.head()

,created_at,favorite_count,id_str,in_reply_to_user_id_str,is_retweet,retweet_count,source,text
0,2009-12-23 17:38:18,12,6971079756,NaN,False,28,Twitter Web Client,From Donald Trump: Wishing everyone a wonderfu...
1,2009-12-03 19:39:09,6,6312794445,NaN,False,33,Twitter Web Client,Trump International Tower in Chicago ranked 6t...
2,2009-11-26 19:55:38,11,6090839867,NaN,False,13,Twitter Web Client,Wishing you and yours a very Happy and Bountif...
3,2009-11-16 21:06:10,3,5775731054,NaN,False,5,Twitter Web Client,Donald Trump Partners with TV1 on New Reality ...
4,2009-11-02 14:57:56,6,5364614040,NaN,False,7,Twitter Web Client,"--Work has begun, ahead of schedule, to build ..."